<div class="row">
  <div class="col-12">
    <div id="movies" class="shadow p-4 rounded">
      <div class="d-flex flex-wrap justify-content-between">
        <h2 class="fw-bold">Film</h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMovieModal">
          Aggiungi film
        </button>
      </div>
      <hr/>

      @for(movie of movieList(); track $index) {
        <app-movie-item
          [movie]="movie"
          [streaming]="channelMap().get(movie.platform ? movie.platform: -1)"
          (deleteMovieEvent)="onDeleteMovie(movie.id)">
        </app-movie-item>
      } @empty {
        <p>No movies found</p>
      }
      <app-movie-modal [channelList]="channelList()" (addMovieEvent)="onAddMovie($event)"></app-movie-modal>
    </div>
  </div>
</div>
